---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
        priority: 0
      - id: check-merge-conflict
        priority: 0
      - id: check-yaml
        priority: 0
      - id: end-of-file-fixer
        priority: 0
      - id: trailing-whitespace
        priority: 0

    # TODO:
    #   Consider using with yamllint
    #   https://github.com/jumanjihouse/pre-commit-hook-yamlfmt?tab=readme-ov-file#combine-with-yamllint
  - repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
    rev: 0.2.3
    hooks:
      - id: yamlfmt
        priority: 0
        # Matching config for `prek sample-config` output
        args: [--mapping, '2', --sequence, '4', --offset, '2']

  - repo: https://gitlab.com/bmares/check-json5
    rev: v1.0.1
    hooks:
      - id: check-json5
        priority: 0

  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 42.78.2
    hooks:
      - id: renovate-config-validator
        priority: 0
        args: [--strict]
        files: .*\.json5$

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        priority: 0
